# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# .idea
.idea

/venv2/
/backend/media/
/backend/recipes/migrations/0007_auto_20230624_0535.py
/backend/static/drf-yasg/swagger-ui-dist/absolute-path.js
/backend/static/admin/js/actions.js
/backend/static/admin/js/vendor/select2/i18n/af.js
/backend/static/rest_framework/js/ajax-form.js
/backend/static/rest_framework/docs/js/api.js
/backend/static/admin/js/vendor/select2/i18n/ar.js
/backend/static/admin/css/autocomplete.css
/backend/static/admin/js/autocomplete.js
/backend/static/admin/js/vendor/select2/i18n/az.js
/backend/static/admin/css/base.css
/backend/static/rest_framework/docs/css/base.css
/backend/static/admin/js/vendor/select2/i18n/bg.js
/backend/static/admin/js/vendor/select2/i18n/bn.js
/backend/static/rest_framework/css/bootstrap.min.css
/backend/static/rest_framework/js/bootstrap.min.js
/backend/static/rest_framework/css/bootstrap-theme.min.css
/backend/static/rest_framework/css/bootstrap-tweaks.css
/backend/static/admin/js/vendor/select2/i18n/bs.js
/backend/static/admin/js/vendor/select2/i18n/ca.js
/backend/static/admin/js/calendar.js
/backend/static/admin/img/calendar-icons.svg
/backend/static/admin/js/cancel.js
/backend/static/admin/js/change_form.js
/backend/static/admin/css/changelists.css
/backend/static/admin/js/collapse.js
/backend/static/admin/js/core.js
/backend/static/rest_framework/js/coreapi-0.1.1.js
/backend/static/admin/js/vendor/select2/i18n/cs.js
/backend/static/rest_framework/js/csrf.js
/backend/static/admin/js/vendor/select2/i18n/da.js
/backend/static/admin/css/dashboard.css
/backend/static/admin/js/admin/DateTimeShortcuts.js
/backend/static/admin/js/vendor/select2/i18n/de.js
/backend/static/rest_framework/css/default.css
/backend/static/rest_framework/js/default.js
/backend/static/admin/js/vendor/select2/i18n/dsb.js
/backend/static/admin/js/vendor/select2/i18n/el.js
/backend/static/admin/js/vendor/select2/i18n/en.js
/backend/static/admin/js/vendor/select2/i18n/es.js
/backend/static/admin/js/vendor/select2/i18n/et.js
/backend/static/admin/js/vendor/select2/i18n/eu.js
/backend/static/admin/js/vendor/select2/i18n/fa.js
/backend/static/rest_framework/docs/img/favicon.ico
/backend/static/drf-yasg/swagger-ui-dist/favicon-32x32.png
/backend/static/admin/js/vendor/select2/i18n/fi.js
/backend/static/rest_framework/css/font-awesome-4.0.3.css
/backend/static/rest_framework/fonts/fontawesome-webfont.eot
/backend/static/rest_framework/fonts/fontawesome-webfont.svg
/backend/static/rest_framework/fonts/fontawesome-webfont.ttf
/backend/static/rest_framework/fonts/fontawesome-webfont.woff
/backend/static/admin/css/fonts.css
/backend/static/admin/css/forms.css
/backend/static/admin/js/vendor/select2/i18n/fr.js
/backend/static/admin/js/vendor/select2/i18n/gl.js
/backend/static/rest_framework/img/glyphicons-halflings.png
/backend/static/rest_framework/fonts/glyphicons-halflings-regular.eot
/backend/static/rest_framework/fonts/glyphicons-halflings-regular.svg
/backend/static/rest_framework/fonts/glyphicons-halflings-regular.ttf
/backend/static/rest_framework/fonts/glyphicons-halflings-regular.woff
/backend/static/rest_framework/fonts/glyphicons-halflings-regular.woff2
/backend/static/rest_framework/img/glyphicons-halflings-white.png
/backend/static/rest_framework/docs/img/grid.png
/backend/static/rest_framework/img/grid.png
/backend/static/admin/js/vendor/select2/i18n/he.js
/backend/static/admin/js/vendor/select2/i18n/hi.js
/backend/static/rest_framework/docs/css/highlight.css
/backend/static/rest_framework/docs/js/highlight.pack.js
/backend/static/admin/js/vendor/select2/i18n/hr.js
/backend/static/admin/js/vendor/select2/i18n/hsb.js
/backend/static/admin/js/vendor/select2/i18n/hu.js
/backend/static/admin/js/vendor/select2/i18n/hy.js
/backend/static/admin/img/icon-addlink.svg
/backend/static/admin/img/icon-alert.svg
/backend/static/admin/img/icon-calendar.svg
/backend/static/admin/img/icon-changelink.svg
/backend/static/admin/img/icon-clock.svg
/backend/static/admin/img/icon-deletelink.svg
/backend/static/admin/img/icon-no.svg
/backend/static/admin/img/icon-unknown.svg
/backend/static/admin/img/icon-unknown-alt.svg
/backend/static/admin/img/icon-viewlink.svg
/backend/static/admin/img/icon-yes.svg
/backend/static/admin/js/vendor/select2/i18n/id.js
/backend/static/drf-yasg/immutable.js
/backend/static/drf-yasg/immutable.min.js
/backend/static/drf-yasg/swagger-ui-dist/index.css
/backend/static/drf-yasg/swagger-ui-dist/index.js
/backend/static/admin/img/inline-delete.svg
/backend/static/admin/js/inlines.js
/backend/static/drf-yasg/insQ.js
/backend/static/drf-yasg/insQ.min.js
/backend/static/admin/js/vendor/select2/i18n/is.js
/backend/static/admin/js/vendor/select2/i18n/it.js
/backend/static/admin/js/vendor/select2/i18n/ja.js
/backend/static/admin/js/jquery.init.js
/backend/static/admin/js/vendor/jquery/jquery.js
/backend/static/rest_framework/docs/css/jquery.json-view.min.css
/backend/static/rest_framework/docs/js/jquery.json-view.min.js
/backend/static/admin/js/vendor/jquery/jquery.min.js
/backend/static/rest_framework/js/jquery-3.5.1.min.js
/backend/static/admin/js/vendor/select2/i18n/ka.js
/backend/static/admin/js/vendor/select2/i18n/km.js
/backend/static/admin/js/vendor/select2/i18n/ko.js
/backend/static/admin/img/LICENSE
/backend/static/drf-yasg/redoc/LICENSE
/backend/static/drf-yasg/redoc-old/LICENSE
/backend/static/drf-yasg/swagger-ui-dist/LICENSE
/backend/static/admin/js/vendor/select2/LICENSE.md
/backend/static/admin/fonts/LICENSE.txt
/backend/static/admin/js/vendor/jquery/LICENSE.txt
/backend/static/admin/js/vendor/xregexp/LICENSE.txt
/backend/static/admin/css/vendor/select2/LICENSE-SELECT2.md
/backend/static/admin/css/login.css
/backend/static/admin/js/vendor/select2/i18n/lt.js
/backend/static/admin/js/vendor/select2/i18n/lv.js
/backend/static/admin/js/vendor/select2/i18n/mk.js
/backend/static/admin/img/gis/move_vertex_off.svg
/backend/static/admin/img/gis/move_vertex_on.svg
/backend/static/admin/js/vendor/select2/i18n/ms.js
/backend/static/admin/css/nav_sidebar.css
/backend/static/admin/js/nav_sidebar.js
/backend/static/admin/js/vendor/select2/i18n/nb.js
/backend/static/admin/js/vendor/select2/i18n/ne.js
/backend/static/admin/js/vendor/select2/i18n/nl.js
/backend/static/drf-yasg/swagger-ui-dist/NOTICE
/backend/static/drf-yasg/swagger-ui-dist/oauth2-redirect.html
/backend/static/admin/js/vendor/select2/i18n/pl.js
/backend/static/admin/js/popup_response.js
/backend/static/admin/js/prepopulate.js
/backend/static/admin/js/prepopulate_init.js
/backend/static/rest_framework/css/prettify.css
/backend/static/rest_framework/js/prettify-min.js
/backend/static/admin/js/vendor/select2/i18n/ps.js
/backend/static/admin/js/vendor/select2/i18n/pt.js
/backend/static/admin/js/vendor/select2/i18n/pt-BR.js
/backend/static/drf-yasg/README
/backend/static/admin/fonts/README.txt
/backend/static/admin/img/README.txt
/backend/static/drf-yasg/redoc/redoc.min.js
/backend/static/drf-yasg/redoc-old/redoc.min.js
/backend/static/drf-yasg/redoc-old/redoc.min.js.map
/backend/static/drf-yasg/redoc/redoc.standalone.js.map
/backend/static/drf-yasg/redoc-init.js
/backend/static/drf-yasg/redoc/redoc-logo.png
/backend/static/admin/js/admin/RelatedObjectLookups.js
/backend/static/admin/css/responsive.css
/backend/static/admin/css/responsive_rtl.css
/backend/static/admin/js/vendor/select2/i18n/ro.js
/backend/static/admin/fonts/Roboto-Bold-webfont.woff
/backend/static/admin/fonts/Roboto-Light-webfont.woff
/backend/static/admin/fonts/Roboto-Regular-webfont.woff
/backend/static/admin/css/rtl.css
/backend/static/admin/js/vendor/select2/i18n/ru.js
/backend/static/admin/img/search.svg
/backend/static/admin/css/vendor/select2/select2.css
/backend/static/admin/js/vendor/select2/select2.full.js
/backend/static/admin/js/vendor/select2/select2.full.min.js
/backend/static/admin/css/vendor/select2/select2.min.css
/backend/static/admin/js/SelectBox.js
/backend/static/admin/js/SelectFilter2.js
/backend/static/admin/img/selector-icons.svg
/backend/static/admin/js/vendor/select2/i18n/sk.js
/backend/static/admin/js/vendor/select2/i18n/sl.js
/backend/static/admin/img/sorting-icons.svg
/backend/static/admin/js/vendor/select2/i18n/sq.js
/backend/static/admin/js/vendor/select2/i18n/sr.js
/backend/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
/backend/static/drf-yasg/style.css
/backend/static/admin/js/vendor/select2/i18n/sv.js
/backend/static/drf-yasg/swagger-ui-dist/swagger-initializer.js
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui.css
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui.css.map
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui.js.map
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui-bundle.js
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui-bundle.js.map
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle.js
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle.js.map
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle-core.js
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle-core.js.map
/backend/static/drf-yasg/swagger-ui-init.js
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui-standalone-preset.js
/backend/static/drf-yasg/swagger-ui-dist/swagger-ui-standalone-preset.js.map
/backend/static/admin/js/vendor/select2/i18n/th.js
/backend/static/admin/js/vendor/select2/i18n/tk.js
/backend/static/admin/img/tooltag-add.svg
/backend/static/admin/img/tooltag-arrowright.svg
/backend/static/admin/js/vendor/select2/i18n/tr.js
/backend/static/admin/js/vendor/select2/i18n/uk.js
/backend/static/admin/js/urlify.js
/backend/static/admin/js/vendor/select2/i18n/vi.js
/backend/static/admin/css/widgets.css
/backend/static/admin/js/vendor/xregexp/xregexp.js
/backend/static/admin/js/vendor/xregexp/xregexp.min.js
/backend/static/admin/js/vendor/select2/i18n/zh-CN.js
/backend/static/admin/js/vendor/select2/i18n/zh-TW.js
